<ul>
  <li *ngFor="let persona of personas">
    
    <p>
      Nombre y Apellido: {{ persona.nombre }} - {{ persona.apellido }}
    </p>
    <p>
      DNI: {{ persona.dni | number }} 
    </p> 
    <p>
     Edad:  {{ persona.edad  }}
    </p>
    <hr>
  </li>
</ul>